<!--         
<div class="frame">
    <div class="center">
        <div class="title">
            <h1 style="font-weight: 1000;">Drop file to upload</h1>
        </div>
        
    <div class="formgroup">
        <input type="file" class="form-control" accept="application/vnd.ms-excel" (change)="onSelectFile($event)" style="height: 100%;">

<div class="file-upload">  

</div>   
    </div>
    
    <button (click)="saveForm()" type="button" class="btn" name="uploadbutton">Upload file</button>
    
</div>
<a href = "assets/LeadOpportunity (crm.lead).xlsx" type="button" id="downbtn" name="Downloadbutton" download>Click Here to Download Template</a>
</div>

<div style="position: absolute; left: 40%; top: 10%; display: flex;">
<div class="vl"></div>
<div style="margin-top: 0%; margin-left: 30%;">
    <h5>Step 1</h5>
    <div class="card" style="height: 20%; width: 100%; background-color: rgb(208, 216, 164); margin-bottom: 10%;">
        <div class="card-body">
            
            <h5 style="">Download the template for excel format</h5>
        </div>
    </div>
    <h5>Step 2</h5>
    <div class="card" style="height: 20%; width: 100%; background-color: rgb(167, 212, 212); margin-bottom: 10%;">
        <div class="card-body">
            <h5>Prepare a Excel file with Lead details in the format given</h5>
        </div>
    </div>
    <h5>Step 3</h5>
    <div class="card" style="height: 20%; width: 100%; background-color: rgb(235, 210, 165); margin-bottom: 10%;">
        <div class="card-body">
            <h5>Upload the Excel file, the leads will be imported</h5>
        </div>
    </div>
</div>
</div>
<router-outlet></router-outlet> -->
<!-- <div style="display: flex;">
<div>
    <img src="assets/Iconoir-Team-Iconoir-Import.512.png" alt="Computer man" style="width:40%;height:40%;margin-top:20%; margin-left:20%" >  
    <h5 style="margin-left: 10%;">Upload a Excel or Csv file to Import</h5> 
    <button style="margin-left: 25%; margin-top: 10%;" type="submit" class="btn btn-primary btn-lg">Upload File</button>
</div>
<div>
    <img src="assets/Iconoir-Team-Iconoir-Import.512.png" alt="Computer man" style="width:40%;height:40%;margin-top:20%; margin-left:20%" >  
    <h5 style="margin-left: 10%;">Download the format for Xsl Files</h5> 
<button style="margin-left: 25%; margin-top: 10%;" type="submit" class="btn btn-primary btn-lg">View Template</button>
</div>
</div> -->

<div class="header1">
    <!-- <h1 class=""  style="font-size: 200%; font-weight: 500; margin-top: 0.5%; color: white;height: 45px;"><a href=""><span class="text-primary"></span> </a></h1> -->
    <img src="assets/4-removebg-preview (1).png" height="66">
    <div class="header">
        <!-- <a  href="#home-section" class="nav-link" id = "header">Home</a>
        
        <a href="#features" class="nav-link" id="header">Features</a> -->
        <div class="btn1">

            <input type="image" style="position: absolute; right: 3%; width: 4%; top: 7%; border-radius: 40%;" src="{{filepath}}" onerror="this.src='https:/icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png';"/>

            <button type="button" style="    position: absolute;right: 13%; width: 7%; top: 0px;" (click)="logout()" class="btn btn-primary" id="button11">LOGOUT</button>

          </div>
      
        
    </div>
    </div>
  <!-- <div style="display: flex; margin: 20px; margin-left: 40px;">
    <h1 class="mb-0 site-logo" style="font-size: 200%; font-weight: 500;"><a href="">M2SOLUTIONS<span class="text-primary"></span> </a></h1>
    <input type="image" routerLink="/profile" style="position: absolute; right: 3%; width: 4%; top: 2%;" src="https://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png"/>
  </div>   -->
  <div class="wrapper">
    <div class="sidebar">
      <button type="button"><fa-icon class="fav" [icon]="snow"></fa-icon>{{peru|uppercase}}</button>
      <ul>
        <li style="background-color: lightgray; margin-bottom: 20%;" ><a class="" style="color: white;"><fa-icon class="fav" [icon]="myhome"></fa-icon>Team Name</a></li>
        <!-- <li style="cursor: pointer;"><a class="" (click)="exportexcel()"><fa-icon class="fav" [icon]="exporticon"></fa-icon>Export Leads</a></li> -->
      </ul>
    </div>
  </div>
        
        <div class="frame" style="background-image: url('assets/pexels-anthony.jpg');background-repeat: no-repeat; background-attachment: fixed;
        background-size: cover;">
            <div class="center">
                <div class="title">
                    <h1 style="font-weight: 1000;">Drop file to upload</h1>
                </div>
                
            <div class="formgroup">
                <input type="file" class="form-control" accept="application/vnd.ms-excel" (change)="onSelectFile($event)" style="height: 100%;">
  
<div class="file-upload">  
  
   <!-- {{userfile|| "No file uploaded yet."}}   -->
  
     <!-- <button mat-mini-fab color="primary" class="upload-btn">  
        <mat-icon>attach_file</mat-icon>   
    </button>    -->
</div>   
            </div>
            
            <button (click)="saveForm()" type="button" class="btn" name="uploadbutton">Upload file</button>
            
        </div>
        <a href = "assets/sampledata.xls" type="button" id="downbtn" name="Downloadbutton" download>Click Here to Download Template</a>
    </div>
    
     <div style="position: absolute; left: 65%; top: 15%; display: flex;">
        <div class="vl"></div>
        <div style="margin-top: 0%; margin-left: 30%;">
            <h3>Step 1</h3>
            <div class="card" style="height: 20%; width: 100%; background-color: rgb(208, 216, 164); margin-bottom: 10%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                <div class="card-body">
                    
                    <h5 style="">Download the template for excel format</h5>
                </div>
            </div>
            <h3>Step 2</h3>
            <div class="card" style="height: 20%; width: 100%; background-color: rgb(167, 212, 212); margin-bottom: 10%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                <div class="card-body">
                    <h5>Prepare a Excel file with Lead details in the format given</h5>
                </div>
            </div>
            <h3>Step 3</h3>
            <div class="card" style="height: 20%; width: 100%; background-color: rgb(235, 210, 165); margin-bottom: 10%; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
                <div class="card-body">
                    <h5>Upload the Excel file, the leads will be imported</h5>
                </div>
            </div>
        </div>
     </div>
     <router-outlet></router-outlet>

<!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->
    
    <!-- NO JS ADDED YET -->
    