<div class="header1">
    <h1 class=""  style="font-size: 200%; font-weight: 500; margin-top: 0.5%; color: white;height: 45px;"><a href=""><span class="text-primary"></span> </a></h1>
    <img src="assets/4-removebg-preview (1).png" height="55">
    <div class="header">
      <!-- <a  href="#home-section" class="nav-link" id = "header">Home</a>
      
      <a href="#features" class="nav-link" id="header">Features</a> -->
      <div class="btn1">

        <input type="image" style="position: absolute; right: 3%; width: 4%; top: 7%; border-radius: 40%;" src="{{filepath}}" onerror="this.src='https:/icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png';"/>

        <!-- <button type="button" style="position: absolute;right: 13%; width: 7%; top: 0px;" (click)="logout()" class="btn btn-primary" class="button112">LOGOUT</button> -->

      </div>
    
      
  </div>
    </div>
  
    <div class="wrapper">
        <div class="sidebar">
          <button type="button"><fa-icon class="fav" [icon]="snow"></fa-icon>{{peru|uppercase}}</button>
          <ul>
            <li style=""><a class="" routerLink="/userprofile"><fa-icon class="fav" [icon]="myhome"></fa-icon>Profile</a></li>
            <li style=""><a class="" routerLink="/update"><fa-icon class="fav" [icon]="exporticon"></fa-icon>Password</a></li>
            <!-- <li><a href="">Admin<i class="fa-light fa-lock" style="color: #f1f5f8;"></i></a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">About</a></li>
            <li><a href="">About</a></li> -->
          </ul>
        </div>
      </div>
      
      <button type="button" style="position: absolute;right: 13%; width: 7%; top: 0px;" (click)="logout()" class="btn btn-primary button112">LOGOUT</button>

  <div class="mainDiv">
      <div class="cardStyle">
        <form action="" method="post" name="signupForm" id="signupForm">
          
          <img src="https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png" id="signupLogo"/>
          
          <h1 class="formTitle">
            Update Password
          </h1>
          <form #frm="ngForm">

              <div class="inputDiv">
                  <label class="inputLabel" for="password">New Password</label>
                  <input class="inputt" ngModel type="password" id="password" name="password" required>
                </div>
                
                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input class="inputt" ngModel type="password" id="confirmPassword" name="confirmPassword">
                </div>
                
                <div class="buttonWrapper">
                    <button type="submit" id="submitButton" (click)="validateSignupForm(frm)" class="submitButton pure-button pure-button-primary">
                        <span>Continue</span>
                        <span id="loader"></span>
                    </button>
                </div>
            </form>
                
      </form>
      </div>
    </div>