
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" style="margin:0px">

  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="" alt="Bootstrap" width="30" height="24">
    </a>
    <a class="navbar-brand" href="#">
      <img src="assets\usericon.jpg" alt="usericon" width="30" height="24">
    </a>
  </div>

</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin-bottom: 50px;margin-top: 30px;">
   
    
  <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">New</button>
  <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Generate leads</button>
  <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Import leads</button>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin-bottom: 50px;margin-top: 30px;">
  <h1 >Admin Department</h1>
  
  <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Add Admin</button>
  <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Assign work</button>
  <!-- <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Generate leads</button> -->
</nav>
<div id="container">
<ul style="list-style-type: none">
  <li *ngFor="let i of admins ">
      <div class="card" style="width: 76rem"  id="super" >
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <img src="assets\admin_logo.jpg" alt="..." width="100" height="100" style="margin-left :50px;" >
          
          <a  class="btn btn-primary" style="margin-left :300px;">{{i}}</a>
          <a  class="btn btn-primary" routerLink="/teams"  style="margin-left :450px;">View Teams</a>
        </nav> 
          
      </div>
        
  <!-- </li> -->
  <br><br><br>
</ul>
</div>
<router-outlet></router-outlet>