<!-- <div style="display: flex; margin: 20px; margin-left: 40px;">
    <h1 class="mb-0 site-logo" style="font-size: 200%; font-weight: 500;"><a href="">M2SOLUTIONS<span class="text-primary"></span> </a></h1>
    <input type="image" routerLink="/profile" style="position: absolute; right: 3%; width: 4%; top: 2%;" src="https://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png"/>
  </div>  

  <div style="margin: 5%;" class="row">
    <div class="column" style="background-color:#72cada; text-align: center;">
      <h2>Admin List</h2>
      <div >
        <li id="listofadmin" *ngFor="let i of datas "> 
          <div>
            <button id="adminlist" (click)="shownew($event)" value={{i}} type="button" class="btn btn-success">{{i}}</button>
          </div>
      </div>
      
    </div>
    <div class="column" style="background-color:#99b8b5; text-align: center;">
      <h2>Column 2</h2>
      <h1 *ngIf="display; then e2"></h1> 
      <ng-template #e2 id="ngtemp">
        <li id="adminnew" *ngFor="let i of adminAadd "> 
          <div>
            <button id="button21" type="button" class="btn btn-info">{{i}}</button>
          </div>
          
          <button (click)="rejected(i)" style="height: 40px; margin-top: 20px; margin-left: 15px;"  type="submit">
            <img src="https://icons.iconarchive.com/icons/hopstarter/button/16/Button-Close-icon.png" width="16" height="16">
          </button>

      </ng-template>
      
    </div>
    <div class="column" style="background-color:#c5d4da; text-align: center;">
      <h2>Column 3</h2>
      <h1 *ngIf="true; then e1"></h1> 
      <ng-template #e1 id="ngtemp">
        <li id="adminnew" *ngFor="let i of adminAnew "> 
          <div>
            <button id="button2" type="button" class="btn btn-info">{{i}}</button>
          </div>
          <button (click)="selected(i)" style="height: 40px; margin-top: 20px; margin-left: 20px;"  type="submit">
            <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/16/ok-icon.png" width="16" height="16">
          </button>

      </ng-template>
      
    </div>
  </div>

  <router-outlet></router-outlet> -->
  <div class="header1">
    <img src="assets/4-removebg-preview (1).png" height="55">
    <div class="header">
        <!-- <a  href="#home-section" class="nav-link" id = "header">Home</a>
        
        <a href="#features" class="nav-link" id="header">Features</a> -->
        <div class="btn1">

          <input type="image" style="position: absolute; right: 3%; width: 4%; top: 7%; border-radius: 40%;" src="{{filepath}}" onerror="this.src='https:/icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png';"/>

          <button type="button" style="    position: absolute;right: 13%; width: 7%; top: 0px;" (click)="logout()" class="btn btn-primary" id="button11">LOGOUT</button>

        </div>
      
        
    </div>
    </div>
  
    <div class="wrapper">
      <div class="sidebar">
        <button type="button"><fa-icon class="fav" [icon]="snow"></fa-icon>{{peru|uppercase}}</button>
        <ul>
          <li style="background-color: lightgray; color:white"><a style="color:white" class=""><fa-icon class="fav" [icon]="myhome"></fa-icon>Assign</a></li>
          <!-- <li><a href="">Admin<i class="fa-light fa-lock" style="color: #f1f5f8;"></i></a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">About</a></li>
          <li><a href="">About</a></li> -->
        </ul>
      </div>
    </div>
    
  
  <!-- <div style="display: flex; margin: 20px; margin-left: 40px;">
      <h1 class="mb-0 site-logo" style="font-size: 200%; font-weight: 500;"><a href="">M2SOLUTIONS<span class="text-primary"></span> </a></h1>
      <input type="image" routerLink="/profile" style="position: absolute; right: 3%; width: 4%; top: 2%;" src="https://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png"/>
    </div>   -->
  
    <!-- <div class="">
  
      <div class="row">
        <div class="column" style="background-color:#72cada; text-align: center;">
        <h2>Admin List</h2>
        <div >
          <li id="listofadmin" *ngFor="let i of datas "> 
            <div>
              <button id="adminlist" (click)="shownew($event)" value={{i}} type="button" class="btn btn-success">{{i}}</button>
            </div>
          </div>
          
        </div>
      <div class="column" style="background-color:#99b8b5; text-align: center;">
        <h2>Column 2</h2>
        <h1 *ngIf="display; then e2"></h1> 
        <ng-template #e2 id="ngtemp">
          <li id="adminnew" *ngFor="let i of adminAadd "> 
            <div>
              <button id="button21" type="button" class="btn btn-info">{{i}}</button>
            </div>
            <button style="height: 40px; margin-top: 20px; margin-left: 20px;"  type="submit">
              <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/16/ok-icon.png" width="16" height="16">
            </button>
            <button style="height: 40px; margin-top: 20px; margin-left: 15px;"  type="submit">
              <img src="https://icons.iconarchive.com/icons/hopstarter/button/16/Button-Close-icon.png" width="16" height="16">
            </button>
            
          </ng-template>
          
        </div>
        <div class="column" style="background-color:#c5d4da; text-align: center;">
          <h2>Column 3</h2>
          <h1 *ngIf="display; then e1"></h1> 
          <ng-template #e1 id="ngtemp">
            <li id="adminnew" *ngFor="let i of adminAnew "> 
              <div>
                <button id="button2" type="button" class="btn btn-info">{{i}}</button>
              </div>
              <button (click)="shiftleads($event)" style="height: 40px; margin-top: 20px; margin-left: 20px;"  type="submit">
                <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/16/ok-icon.png" width="16" height="16">
              </button>
              
            </ng-template>
            
          </div>
        </div>
      </div>
         -->
  
         <div class="padded-boxes">
          <section>
              <h3 class="heading" style="background-image: url('assets/pexels-fwstudio-172289.jpg'); background-size: cover;">Admin Name</h3>
              <div class="padded">
                  <!-- box 1 content -->
                  <div >
                    <li id="listofadmin" *ngFor="let i of datas "> 
                      <div>
                        <button id="adminlist" (click)="shownew($event)" value={{i}} type="button" class="btn btn-success">{{i}}</button>
                      </div>
                    </div>
              </div>
          </section>
          <section>
              <h3 class="heading" style="background-image: url('assets/pexels-fwstudio-172289.jpg'); background-size: cover;">Assigned Leads</h3>
              <div class="padded">
                  <!-- box 2 content -->
                  <h1 *ngIf="display; then e2"></h1> 
                  <ng-template #e2 id="ngtemp">
                    <li id="adminnew" *ngFor="let i of adminAadd "> 
                      <div>
                        <button id="button21" type="button" class="btn btn-info">{{i}}</button>
                      </div>
                      <!-- <button style="height: 40px; margin-top: 20px; margin-left: 20px;"  type="submit">
                        <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/16/ok-icon.png" width="16" height="16">
                      </button> -->
                      <button (click)="rejected(i)" style="height: 40px; margin-top: 20px; margin-left: 15px;"  type="submit">
                        <img src="https://icons.iconarchive.com/icons/hopstarter/button/16/Button-Close-icon.png" width="16" height="16">
                      </button>
                      
                    </ng-template>
                    
              </div>
          </section>
          <section>
              <h3 class="heading" style="background-image: url('assets/pexels-fwstudio-172289.jpg'); background-size: cover;">Unassigned Leads</h3>
              <div class="padded">
                  <!-- box 3 content -->
                  <h1 *ngIf="true; then e1"></h1> 
                  <ng-template #e1 id="ngtemp">
                    <li id="adminnew" *ngFor="let i of adminAnew "> 
                      <div>
                        <button id="button2" type="button" class="btn btn-info">{{i}}</button>
                      </div>
                      <button (click)="selected(i)" style="height: 40px; margin-top: 20px; margin-left: 20px;"  type="submit">
                        <img src="https://icons.iconarchive.com/icons/tatice/cristal-intense/16/ok-icon.png" width="16" height="16">
                      </button>
                      
                    </ng-template>
              </div>
          </section>
      </div>
        <router-outlet></router-outlet>