<!-- 
<div class="overlap">

    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" style="margin:0px">
      
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="" alt="Bootstrap" width="30" height="24">
        </a>
        <a  routerLink="/userprofile" class="navbar-brand" href="#">
          <img src="assets\usericon.jpg" alt="usericon" width="30" height="24">
        </a>
      </div>
      
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin-bottom: 50px;margin-top: 30px;">
      
      
      <button (click)="newLead()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">New</button>
      <button (click)="generateLead()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Generate leads</button>
      <button routerLink="/importfile" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Import leads</button>
      <button routerLink="/manageleads" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">View leads</button>
    </nav>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin-bottom: 50px;margin-top: 30px;">
      <h1 >Admin Department</h1>
      
      <button (click)="openDialog()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Add Admin</button>
      <button routerLink="/assignwork" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Assign work</button>
        </nav>
    <div id="container">
      <ul style="list-style-type: none">
        <li *ngFor="let i of datas ">
          <div class="card" style="width: 76rem"  id="super" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
              <img src="assets\admin_logo.jpg" alt="..." width="100" height="100" style="margin-left :50px;" >
              
              <a  (click)="admindetailspop(i)" class="btn btn-primary" style="margin-left :300px;">{{i}}</a>
              <a routerLink="/adminteams" (click)="gototeams(i)" class="btn btn-primary"   style="margin-left :450px;">View Teams</a>
            </nav> 
            
          </div>
            
          
          <br><br><br>
        </ul>
      </div>
    </div>
  
    
      <router-outlet></router-outlet> -->
      <div class="header1">
        <!-- <h1 class=""  style="font-size: 200%; font-weight: 500; margin-top: 0.5%; color: white;height: 32px;"><a href=""><span class="text-primary"></span> </a></h1> -->
        <img src="assets/4-removebg-preview (1).png" height="55">
        <div class="header">
            <!-- <a  href="#home-section" class="nav-link" id = "header">Home</a>
            
            <a href="#features" class="nav-link" id="header">Features</a> -->
            <div class="btn1">
              <input type="image" style="position: absolute; right: 3%; width: 4%; top: 7%; border-radius: 40%;" src="{{filepath}}" onerror="this.src='https:/icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/User-icon.png';"/>
              <button type="button" style="    position: absolute;right: 13%; width: 7%; top: 0px;" (click)="logout()" class="btn btn-primary" id="button11">LOGOUT</button>
            </div>
          
            
        </div>
        </div>
      
        <!-- vertical nav -->
        <div class="wrapper">
          <div class="sidebar">
            <button type="button" routerLink="/userprofile"><fa-icon class="fav" [icon]="snow"></fa-icon>CEO</button>
            <ul>
              <li style="background-color: lightgray;"><a class=""style="color:white"><fa-icon class="fav" [icon]="adminicon"></fa-icon>Admins</a></li>
              <li style="cursor: pointer;"><a class="" (click)="newLead()"><fa-icon class="fav" [icon]="addleadicon"></fa-icon>Add Leads</a></li>
              <li style="cursor: pointer;" ><a class="" (click)="generateLead()"><fa-icon class="fav" [icon]="generateleadicon"></fa-icon>Generate Leads</a></li>
              <li style="cursor: pointer;"><a class=""routerLink="/importfile"><fa-icon class="fav" [icon]="importleadicon"></fa-icon>Import Leads</a></li>
              <li style="cursor: pointer;"><a class="" routerLink="/manageleads" ><fa-icon class="fav" [icon]="viewleadicon"></fa-icon>View Leads</a></li>
              <li style="cursor: pointer;"><a class="" (click)="openDialog()"><fa-icon class="fav" [icon]="addadminicon"></fa-icon>Add Admin</a></li>
              <li style="cursor: pointer;"><a class="" routerLink="/assignwork" ><fa-icon class="fav" [icon]="assignworkicon"></fa-icon>Assign Work</a></li>
              <!-- <li><a href="">Admin<i class="fa-light fa-lock" style="color: #f1f5f8;"></i></a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">About</a></li>
              <li><a href="">About</a></li> -->
            </ul>
          </div>
        </div>
        
      
       
      
         
      
         <!-- <div>
      
          <button (click)="newLead()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">New</button>
      
          <button name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Generate leads</button>
      
          <button routerLink="/importfile" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Import leads</button>
      
        </div>
      
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style = "margin-bottom: 50px;margin-top: 30px;">
      
          <h1 >Admin Department</h1>
      
         
      
          <button (click)="openDialog()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Add Admin</button>
      
          <button routerLink="/assignwork" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Assign work</button>
      
          
      
      
      
        </nav>
      
        <div id="container">
      
          <ul style="list-style-type: none">
      
            <li *ngFor="let i of datas ">
      
              <div class="card" style="width: 76rem"  id="super" >
      
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
      
                  <img src="assets\admin_logo.jpg" alt="..." width="100" height="100" style="margin-left :50px;" >
      
                 
                  <div style="width: 250px; margin-left :300px;">
                  <a (click)="admindetailspop()"   class="btn btn-primary" style="">{{i}}</a>
                  </div>
      
                  <a routerLink="/adminteams" (onclick)="gototeams(i)" class="btn btn-primary"   style="margin-left :350px;">View Teams</a>
      
                </nav>
      
               
      
              </div>
      
               
      
             
      
              <br><br><br>
      
            </ul>
      
          </div>
      
        </div>
      
      
      
       
      
          <router-outlet></router-outlet>
      
        
          <router-outlet></router-outlet> -->
          <div class="flexcontent" style="background-image: url('assets/pexels-pixabay-268415.jpg')">
           <!-- <div class="aboutcompany">
              <div class="forbackground">
      
                <h2 id="abouth2">A great opera house isn't run by a director, but by a great administrator.</h2>
      
                  <button (click)="newLead()" name="button" id="butoons" class="btn btn-outline-dark" style="margin-left: 20px;">New</button>
                  
                  <button  name="button" id="butoons" class="btn btn-outline-dark" style="margin-left: 20px;">Generate leads</button>
              
                  <button routerLink="/importfile" name="button" id="butoons" class="btn btn-outline-dark" style="margin-left: 20px;">Import leads</button>
                  <button  routerLink="/" name="button" id="butoons" class="btn btn-outline-dark" style="margin-left: 20px;">View leads</button>
              </div>
          </div> -->
          <div class="adminlist">
            <div style="display: flex;">
              <h2 id="adminlisth2" style="color:white;">{{admintext}}</h2>
              <!-- <button (click)="openDialog()" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px;">Add Admin</button> -->
      
              <!-- <button routerLink="/assignwork" name="button" id="button" class="btn btn-outline-dark" style="margin-left: 20px; width: 200px;">Assign work</button> -->
              
            </div>
            <div *ngIf="lenofdatas; then ab1"></div>
            <ng-template #ab1>
              
              <div id="wholecard" style="background-image: url('assets/pexels-fwstudio-172289.jpg')">
                
                <h1 style="">{{s}}</h1>
                <div id="cardsabove" *ngFor="let i of datas ">
                  <div class="card" id="super1" >
                    <img id="super1image" src="https://icons.iconarchive.com/icons/elegantthemes/beautiful-flat/128/Profile-icon.png" width="128" height="128">
                    
                    <div id="superbutton">
                      <a (click)="admindetailspop(i)">{{i}}</a>
                    </div>
                    <a id="superbutton1" routerLink="/adminteams" (click)="gototeams(i)" class="btn btn-primary">View Teams</a>
                    
                  </div>
                </div>
                
              </div>
            </ng-template>
        </div>
        </div>