<!-- <div class="form-body" style="overflow-y: hidden;">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3 style="text-align: center;">Add New SalesPerson</h3>
                
                    <form #frm="ngForm" class="requires-validation" novalidate>
  
                        <div class="col-md-12" style="display: flex;">
                            <label for="name" style="margin-top: 20px; width: 130px;">Name: </label>
                           <input id="name" ngModel class="form-control" type="text" name="name" placeholder="Full Name" required>
                        </div>
  
                        <div class="col-md-12" style="display: flex;">
                            <label for="email" style="margin-top: 20px; width: 130px;">Email: </label>
                            <input id="email" ngModel class="form-control" type="email" name="email" placeholder="E-mail Address" required>
                        </div>
  
                        <div class="col-md-12" style="display: flex;">
                            <label for="phone" style="margin-top: 10px; width: 130px;">Phone number:</label>
                            <input id="phone" ngModel class="form-control" type="text" name="phone" placeholder="Enter Phone Number" required>
                        </div>
  
                       
  
  
                       <div class="col-md-12">
                        <label for="address" style="margin-top: 20px; width: 130px;">Address:</label>
                          <textarea id="address" ngModel rows="3" cols="40" style="margin-top: 10px;" name="address" placeholder="Address"></textarea>
                         
                       </div>
  
  
                       <div class="col-md-12 mt-3">
                        <label class="mb-3 mr-1" for="gender" s>Gender: </label>
  
                        <input type="radio"  class="btn-check" name="gender" id="male" value="Male" autocomplete="off" required>
                        <label style="margin-right: 10px; margin-left: 50px;" value="Female" class="btn btn-sm btn-outline-secondary" for="male" >Male</label>
  
                        <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                        <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
                        </div>
                        <div class="col-md-12" style="display: flex;">
                           <label style="margin-top: 20px; width: 130px;">Sales Team</label>
                          <select (change)="onChange($event)"  id="salesteam" name="team" style="height: 40px;">
                            <option></option>
                            <option [ngValue]="type" *ngFor='let type of datas'>{{type}}</option>
                            
                          </select>
                    
                      </div>
                       
                        <div class="col-md-12" style="display: flex;">
                           <label for="uname" style="margin-top: 10px; width: 130px;">Create a New Username</label>
                          <input id="uname" ngModel style="" class="form-control" type="text" name="uname" placeholder="Username" required>
                    
                      </div>
                        <div class="col-md-12" style="display: flex;">
                           <label for="code" style="margin-top: 10px; width: 130px;">One-time login code</label>
                          <input id="code" ngModel style="" class="form-control" type="text" name="code" placeholder="Login Code" required>
                    
                      </div>

                        <div class="form-button mt-3">
                            <button (click)="addsalesperson(frm)"  id="submit" type="submit" class="btn btn-primary">Add SalesPerson</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
   -->
   <h1 *ngIf ="k; then e2 else e1"></h1>

   <ng-template #e1>
   <div class="form-body" style="overflow-y: hidden; background-image: url('assets/pexels-pixabay-220182.jpg');">
   
       <div class="row">
   
           <div class="form-holder">
   
               <div class="form-content">
   
                   <div class="form-items">
   
                       <h3 style="text-align: center; background: white;">Add New SalesPerson</h3>
   
                       <!-- <p>Fill in the data below.</p> -->
   
                       <form style="background-color: white; padding: 5%;" #frm="ngForm" class="requires-validation" novalidate>
   
    
   
                           <div slot="background:white !important" class="col-md-12" style="display: flex;">
   
                               <label for="name" style="margin-top: 20px; width: 130px;">Name: </label>
   
                              <input id="name" ngModel class="form-control" type="text" name="name" placeholder="Full Name" required>
   
                           </div>
   
    
   
                           <div class="col-md-12" style="display: flex;">
   
                               <label for="email" style="margin-top: 20px; width: 130px;">Email: </label>
   
                               <input id="email" ngModel class="form-control" type="email" name="email" placeholder="E-mail Address" required>
   
                           </div>
   
    
   
                           <div class="col-md-12" style="display: flex;">
   
                               <label for="phone" style="margin-top: 10px; width: 130px;">Phone number:</label>
   
                               <input id="phone" ngModel class="form-control" type="text" name="phone" placeholder="Enter Phone Number" required>
   
                           </div>
   
    
   
                          
   
    
   
    
   
                          <div class="col-md-12">
   
                           <label for="address" style="margin-top: 20px; width: 130px;">Address:</label>
   
                             <textarea id="address" ngModel rows="3" cols="40" style="margin-top: 10px;" name="address" placeholder="Address"></textarea>
   
                             <!-- <div class="valid-feedback"></div>
   
                             <div class="invalid-feedback"></div> -->
   
                          </div>
   
    
   
    
   
                          <div class="col-md-12 mt-3">
   
                           <label class="mb-3 mr-1" for="gender" s>Gender: </label>
   
    
   
                           <input type="radio"  class="btn-check" name="gender" id="male" value="Male" autocomplete="off" required>
   
                           <label style="margin-right: 10px; margin-left: 50px;" value="Female" class="btn btn-sm btn-outline-secondary" for="male" >Male</label>
   
    
   
                           <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
   
                           <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>
   
                           </div>
   
                           <div class="col-md-12" style="display: flex;">
   
                              <label style="margin-top: 20px; width: 130px;">Sales Team</label>
   
                             <select (change)="onChange($event)"  id="salesteam" name="team" style="height: 40px;">
   
                                <option></option>
                                <option [ngValue]="type" *ngFor='let type of datas'>{{type}}</option>
   
                              
   
                             </select>
   
                      
   
                         </div>
   
                          
   
                           <div class="col-md-12" style="display: flex;">
   
                              <label for="uname" style="margin-top: 10px; width: 130px;">Create a New Username</label>
   
                             <input id="uname" ngModel style="" class="form-control" type="text" name="uname" placeholder="Username" required>
   
                      
   
                         </div>
   
                           <div class="col-md-12" style="display: flex;">
   
                              <label for="code" style="margin-top: 10px; width: 130px;">One-time login code</label>
   
                             <input id="code" ngModel style="" class="form-control" type="text" name="code" placeholder="Login Code" required>
   
                      
   
                         </div>
   
    
   
                           <div class="form-button mt-3">
   
                               <button (click)="addsalesperson(frm)"  id="submit" type="submit" class="btn btn-primary">Add SalesPerson</button>
   
                           </div>
   
                       </form>
   
                   </div>
   
               </div>
   
           </div>
   
       </div>
   
     </div>
   </ng-template>
   
     <ng-template #e2>
       <div class="form-group">
           <label for="file" style="font-weight: 700; font-size: large;">Upload Admin's Photo</label>
           <input type="file" class="form-control" accept="image/*" (change)="onSelectFile($event)" style="height: 100%; margin-top: 8%;">
          </div>
          <div style="margin-top: 10%;" class="form-group">
            
            <button type="submit" class="btn btn-info" (click)="saveForm()">Upload File</button>
            <button style="margin-left: 20%;" type="submit" (click)="skip()" class="btn btn-info">Skip</button>
          </div>
   </ng-template>   
   
    