h2{
    padding: 20px;
    text-align: center;
    background-image: url("src/assets/pexels-fwstudio-172289.jpg");
    background-size: cover;
    color:white;
  }
  div{
      padding-bottom: 20px;
  }
  label{
      width: 130px;
      font-weight: 600;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  input{
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgb(4, 4, 18)
  }
  .container{
      padding: 5%;
      overflow-y: hidden;
      /* background-color: antiquewhite; */
      /* border: 4px solid rgb(211, 148, 89); */
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      
      background-size: cover;
  }
  input:focus {
      border-color: green;
      outline: 1px dotted #000
    }
  .flexcomponent{
      display: flex;
      padding-left: 4%;
  
  }
  .flexcomponent div{
      margin-right: 70px;
  }
  html, body {
      height: 100%;
      background-color: #107fc8;
      overflow: hidden !important;
  }
  button{
      margin-left: 40%;
  }
  form{
      border:4px solid rgb(29, 50, 94);
      background-color: white;
  }