p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


#header {
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  
}

.flex {
  font-size: 50px;
  display: flex;
  margin-left: 70px;
  /* width: 900px; */
  color: black;
}

#flex1 {
  color: #131212;
  font-weight: 600;
  width: 1400px;
  margin-right: 50px;
  margin-top: 100px;
  display: flex;
}

.box {
  display: block;
  width: 500px;
}

.img-fluid {
  max-width: 100%;
  height: 700px;

}

.header1 {
  display: flex;
  padding-left: 4%;
  width: 100%;
  padding-top: 0%;
  position: fixed;
  background: linear-gradient(to right, rgba(36, 52, 91, 1), rgba(1, 15, 42, 1));
  z-index: 100;
}

.header {
  display: flex;
  margin-left: 5%;
  /* margin-top:0.5% */
}

/* vertical nav */
.wrapper {
  display: flex;
  position: relative;
  padding-top: 5.2%;
}

.wrapper .sidebar {
  position: fixed;
  width: 24%;
  height: 100%;
  background: linear-gradient(to right, rgba(36, 52, 91, 0.9), rgba(1, 15, 42, 0.9));
  padding: 30px 0px;

}

.wrapper .sidebar button {
  color: #ffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  background: none;
  border-radius: 10px;
  font-size: xx-large;
  height: 8%;
  border: none;
}

.wrapper .sidebar button:hover {
  background: #888888;
}

.fav {
  margin-right: 4%;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(225, 0, 0, 0.05);
  text-decoration: none;
  list-style-type: none;
  margin-right: 12%;
  font-size: 170%;
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #b3b3b3;
}

.wrapper .sidebar ul li:hover a {
  color: #ffff;
}




p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a,
a:hover {
  text-decoration: none !important;
}


#buttonalreadyuser {
  margin: 2% 10% 0px 0px;
  width: 30vh;
  height: 6vh;

}

.btn1 {
  margin-top: 2vh;
  display: flex;
  margin-left: 50vh
}

#button11 a {
  color: white !important;
}

#button11:hover {
  background-color: white !important;
  color: black !important;

}

#button11 a:hover {
  color: black !important;
}

#button11 {
  margin-left: 20rem;
  height: fit-content;
  background-color: rgba(99, 135, 227, 0.9) !important;

}

#header {
  margin: 2% 10% 0% 0%;
  font-size: 4vh;
}

.content {
  margin-top: 5%;
  margin-left: 20%;
  z-index:-1;
}

#text {
  text-align: center;
  font-family: cursive;
}

#texth1 {
  font-family: popins;
  font-size: 350%;
  margin-bottom: 5%;
}

#textp {
  font-family: popins;
  font-size: 350%;
  margin-bottom: 5%;
}

#buttoncreate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3%;
}

#buttoncreate button {
  background: linear-gradient(to right, rgba(36, 52, 91, 0.9), rgba(1, 15, 42, 0.9));
  color: white;
  width: 18%;
}

#buttoncreate button:hover {
  background: black;



}

#container2list {
  /* box-shadow: 5px 10px #888888; */
  padding-top: 3%;
  display: flex;
  flex-wrap: wrap;
  /* background-image: url("/assets/co.png"); */
  /* background-color: #e0e0d9; */

}

#container1list {
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.card {
  margin-left: 6%;
  /* border: 3px solid rgb(33, 38, 84); */
  /* background-color: rgb(217, 228, 217); */
  width: 400px;
  height: 200px;
  opacity: 80%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card:hover {
  border: 8px solid black;
  /* background-color: rgb(139, 179, 65); */
  opacity: 100%;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -20px;
  transition: all 0.3s ease-out;
  /* border: 1px solid #cccccc; */
  background-color: white;
  border: 3px solid rgb(33, 38, 84);
}

.card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -40px;
  right: -40px;
  /* background: #00838d; */
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card:hover:before {
  transform: scale(2.15);
}

.card-title {
  padding-top: 10%;
  font-family: cursive;
  font-size: xx-large
}

#connectbutton {
  margin-top: 20%;
  background: linear-gradient(to right, rgba(20, 39, 86, 0.9), rgba(1, 15, 42, 0.9));
  border: none;
}